.container {
  height: 100%;
  background-color: #171727;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FFFFFF;
}

/* cards section  */
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  cursor: pointer;
}

.card1,
.card2 {
  padding: 1rem 1rem 2rem 1rem;
  margin: 0 1rem 1rem 1rem;
  background-color: #171825;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 1s ease;
}

.card1 {
  background: #ef3419;
}

.card3,
.card4 {
  padding: 1rem 0.8rem 2rem;
  margin: 1rem 1rem 0 1rem;
  background-color: #171727;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 1s ease;
  bottom: 0;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  background-color: #3c3c4e;
}

.heads {
  padding: 0.5rem;
}

.description {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
}

small {
  padding: 0 0.5rem;
}

small > a {
  color: #fff;
  text-decoration: none;
}



/* Bottom Section  */
.bottomSection {
  margin: 3rem 0 3rem 5rem;
  width: 80%;
}

.exp {
  font-size: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: end;
  letter-spacing: 1px;
  line-height: 3rem;
}
.expP {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 2rem;
}