.section {
  height: 100%;
  background: #11121b;
  padding: 3rem 3.5rem 3rem 5rem;
}

/* iconSection here */
.iconSection { 
  text-align: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.icons {
  transition: 0.5s ease;
} 